# track samples with git lfs
Samples/** filter=lfs diff=lfs merge=lfs -text

# unzip project for commit
*.als filter=zcat

# ensure LF line endings on pesky windows machines
* text eol=lf

# don't attempt to fix line endings on audio files
*.als binary
*.wav binary
*.aif binary
*.mp3 binary
*.ogg binary
*.flac binary
